<div class="main">
    <button  routerLink="/" routerLinkActive="active">text</button>
    <section class="container">
        <div class="header">
            <div class="foto">
             
            </div>
            <div class="test">

            </div>
            <div class="text">
                <h2>Jon Snow</h2>
                <p>professional</p>
            </div>
            <div class="cont_social">
               <a href="#">
                   <img src="../../assets/icon/instagram.svg" alt="" width="50px">
               </a>
             
               
            </div>
        </div>
        <div class="box01">
            <div class="left">
                <div class="block1"></div>
                <div class="contact">
                    <div class="box01_decor ">
                        <p>CONTACT</p>
                       
                    </div>
                    <div class="box02_ul">

                        <ul>
                            <svg class="svg1" height="2" width="500">
                                <line x1="0" y1="0" x2="300" y2="0" />
                                Sorry, your browser does not support inline SVG.
                            </svg>
                          
                            <li>
                                  <i class="fa fa-flag" style="padding-right: 20px; font-size: 1.2em;"></i>
                                    Ukraine Kiev 
                                    <svg  class="svg2" height="2" width="500">
                                        <line x1="0" y1="0" x2="30" y2="0" />
                                        Sorry, your browser does not support inline SVG.
                                    </svg>
                            </li>
                           
                            <li> 
                                  <i style="padding-right: 20px; font-size: 1.2em;" class="fa fa-calendar"></i>
                                  01.05.1991
                                  <svg  class="svg2" height="2" width="500">
                                    <line x1="0" y1="0" x2="30" y2="0" />
                                    Sorry, your browser does not support inline SVG.
                                </svg>
                            </li>
                            <li>
                                <i  style="padding-right: 20px; font-size: 1.2em;" class="fa fa-phone"></i>
                                <a href="tel:0997770500"> +380735675374</a>
                                <svg  class="svg2" height="2" width="500">
                                    <line x1="0" y1="0" x2="30" y2="0" />
                                    Sorry, your browser does not support inline SVG.
                                </svg>
                            </li>
                            <li>
                                <i style="padding-right: 20px; font-size: 1.2em;"   class="fa fa-envelope"></i>
                               <a href="mailto:pashavestt2010@gmail.com"> abc@gmail.com </a>
                                <svg  class="svg2" height="2" width="500">
                                    <line x1="0" y1="0" x2="30" y2="0" />
                                    Sorry, your browser does not support inline SVG.
                                </svg>
                               
                            </li>
                          
                            
                        </ul>

                    </div>
                </div>
                <div class="leng">
                    <div class="box01_decor">
                        <p>LANGUAGE</p>
                    </div>
                    <div class="box02_ul">

                        <ul>
                            <svg class="svg1" height="2" width="500">
                                <line x1="0" y1="0" x2="300" y2="0" />
                                Sorry, your browser does not support inline SVG.
                            </svg>
                            <li>   <img src="../../assets/icon/ukraine.png" alt="" width="30px">  Ukraine : 
                              
                                <strong><span>C2</span></strong></li>
                            <li>
                                <img style="left: -13px;" src="../../assets/icon/poland.png" alt="" width="35px"> Poland : 
                               
                                <strong><span>B2</span></strong></li>
                            <li> <img src="../../assets/icon/united-states-of-america.png" alt="" width="30px"> English :
                                
                                <strong><span>A2</span></strong></li>
                          
                        </ul>

                    </div>
                </div>
                <div class="skill">
                    <div class="box01_decor">
                        <p>SKILL</p>
                    </div>
                    <div class="box02_ul">

                        <ul>
                            <svg class="svg1" height="2" width="500">
                                <line x1="0" y1="0" x2="300" y2="0" />
                                Sorry, your browser does not support inline SVG.
                            </svg>
                
                            <li> Drive Category ( B, C )</li>
                            <li> UTD ( Wózek Widłowy )</li>
                            <li> Web ( HTML, CSS ) </li>
                            <li> MS Office ( Word, Excel) </li>

                            <li> Communication, Computer skills, Organization, Punctuality, Time management</li>

                        </ul>

                    </div>
                </div>
                <div class="block1"></div>
            </div>
            <!----    ---->
            <div class="right">

                <div class="cont_info">
                    <div class="section1">
                       <h2>EXPIRIENCE</h2>

                       <section>
                            <div class="box011">
                                <h3>Praca w fabryce</h3>
                                <ul>
                                  

                                    <li><strong>Winkelmann</strong> -- Legnica</li>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente earum omnis soluta laudantium quis?</p>

                                    <li><strong>Lambertz</strong> -- Katowice</li>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente earum omnis soluta laudantium quis?</p>

                                    <li><strong>Samsung</strong> -- Wronki</li>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente earum omnis soluta laudantium quis?</p>
                                </ul>
                            </div>
                            <div class="box022">
                                <ul>
                                
                                   <div class="restauracja">
                                    <h3>Inna praca</h3>

                                    <li><strong>Restauracja hotelowa</strong> </li>
                                       <strong>Poland</strong>
                                       <p><strong>Brenna : </strong>Restauracja Malwa</p>
                                       <p><strong>Jarosławiec  : </strong>Hotel Szlak Bursztynowy</p>
                                       <strong>Croatia</strong>
                                       <p><strong>Hvar : </strong>Hotel Sirena </p>
                                   </div>

                                   
                                   

                                </ul>
                            </div>
                       </section>
                      
                    </div>
                    <div class="section2">
                        <h2>EDUCATION</h2>
                        <div class="container_shool">

                            <strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, eum?</strong>
                           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, soluta maiores itaque explicabo facilis rem asperiores fugiat obcaecati nihil cupiditate!</p>

                        </div>

                        <div class="container_shool1">

                            <strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo, eum?</strong>
                           <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolorum, soluta maiores itaque explicabo facilis rem asperiores fugiat obcaecati nihil cupiditate!</p>
                           
                        </div>

                    </div>

                    <div class="section3">

                        <h2>ABOUT ME</h2>
                        <div class="container_about">

                         <div class="box00">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut, cum dicta. Assumenda sint ducimus expedita itaque aliquid odit, atque, voluptas officia laudantium nostrum nisi quaerat?</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure iste mollitia voluptatum ab eveniet sint distinctio recusandae velit autem et.</p>
                            <strong> Lorem ipsum dolor sit amet.</strong>

                         </div>
                         
                        </div>

                    </div>

                </div>



                <!---- ---->
                <div class="triangle">
                    <img src="../../assets/foto/decor_tringle.jpg" alt="">
                </div>
                <div class="triangle1">
                </div>
                 <!---- ---->
            </div>


        </div>
       
        <div class="desing11">

            <div class="itm01"></div>
           
        </div>


    </section>
</div>
