<div class="section_1">
              
    <svg class="svg1" height="2" width="500">
        <line x1="0" y1="0" x2="300" y2="0" />
        Sorry, your browser does not support inline SVG.
    </svg>
    <svg style="animation-delay: 1s;  margin: 20px;" class="svg1" height="2" width="500">
        <line x1="0" y1="0" x2="300" y2="0" />
        Sorry, your browser does not support inline SVG.
    </svg>
    <svg style="animation-delay: 1.5s;  margin: 10px;" class="svg1" height="2" width="500">
        <line x1="0" y1="0" x2="300" y2="0" />
        Sorry, your browser does not support inline SVG.
    </svg>
    <svg style="animation-delay: .5s;  margin: 3px;" class="svg1" height="2" width="500">
        <line x1="0" y1="0" x2="300" y2="0" />
        Sorry, your browser does not support inline SVG.
    </svg>

    <h2 @openClose *ngIf="open">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, asperiores!</h2>

    <svg class="svg2" height="2" width="500">
        <line x1="0" y1="0" x2="300" y2="0" />
        Sorry, your browser does not support inline SVG.
    </svg>
    <svg style="animation-delay: 1s;  margin: 20px;" class="svg2" height="2" width="500">
        <line x1="0" y1="0" x2="300" y2="0" />
        Sorry, your browser does not support inline SVG.
    </svg>
    <svg style="animation-delay: 1.1s;  margin: 10px;" class="svg2" height="2" width="500">
        <line x1="0" y1="0" x2="300" y2="0" />
        Sorry, your browser does not support inline SVG.
    </svg>
    <svg style="animation-delay: .7s;  margin: 3px;" class="svg2" height="2" width="500">
        <line x1="0" y1="0" x2="300" y2="0" />
        Sorry, your browser does not support inline SVG.
    </svg>
    
    <a>Galery click</a>

    <svg class="svg2" height="2" width="500">
        <line x1="0" y1="0" x2="300" y2="0" />
        Sorry, your browser does not support inline SVG.
    </svg>
    <svg style="animation-delay: 1s;  margin: 20px;" class="svg2" height="2" width="500">
        <line x1="0" y1="0" x2="300" y2="0" />
        Sorry, your browser does not support inline SVG.
    </svg>
    <svg style="animation-delay: 1.1s;  margin: 10px;" class="svg2" height="2" width="500">
        <line x1="0" y1="0" x2="300" y2="0" />
        Sorry, your browser does not support inline SVG.
    </svg>
    <svg style="animation-delay: .7s;  margin: 3px;" class="svg2" height="2" width="500">
        <line x1="0" y1="0" x2="300" y2="0" />
        Sorry, your browser does not support inline SVG.
    </svg>


    <div class="desing_1">
        <div class="num_0">

        </div>
    </div>

</div>