@import url('https://fonts.googleapis.com/css2?family=Dongle&family=Rock+3D&display=swap');



div.cont_form {
    width: 100%;
    height: 100vh;
    //background-color: rgba(222, 184, 135, 0.24);
    display: flex;
    align-items: center;
    place-content: center;
    position: absolute;
    top: 0px;
    z-index: 2;
    //display: none;
    font-family: 'Dongle', sans-serif;
    button {
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0px;
        background-color: rgba(255, 235, 205, 0.336);
        
       
    }
    form {
        width: 400px;
        height: 450px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        z-index: 2;
        //
        div.foto {
            width: 100%;
            height: 40%;
            //background-color: rebeccapurple;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 5px;
            img {
                border-radius: 50%;
                width: 150px;
                height: 150px;
                object-fit: cover;
            }
            div.text {
                font-size: 1.7em;

            }
        }
        //
        div.masage {
            width: 100%;
            height: 50%;
            //background-color: sandybrown;
            display: flex;
            align-items: center;
            justify-content: center;
            
            textarea {
                resize: none;
                width: 90%;
                height: 80%;
                border-radius: 20px;
                padding: 10px;

                background-color: rgba(192, 192, 192, 0.219);
                //box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
                transition-duration: .3s;
                border: none;
                outline: none;
                &:focus {
                    
                    background-color: rgba(146, 195, 211, 0.329);
                }
                &:visited  {
                    background-color: red;
                    border: none;
                }
            }
            
           
           
        }
        //
        div.last {
            width: 100%;
            height: 10%;
            border-radius: 5px;
            //background-color: red;

            input[type=submit], input[type=reset] {
                padding: 7px 15px;
                border-radius: 5px;
                border: none;
                float: right;
                margin-right: 10px;
               
                cursor: pointer;
                transition-duration: .3s;
            }
            input[type=submit]:hover, input[type=reset]:hover {
                background-color: silver;
                transition-duration: .3s;
            }
        }
    }

}