<div class="cont_form" >

    <button  routerLink="/" routerLinkActive="active">text</button>




    <form action="https://formsubmit.co/pashavestt2010@gmail.com" method="POST">


        <div class="foto">
            <img src="../../../assets/foto/foto_person.jpg" width="150px" alt="">

            <div class="text">
                <h2>Jon Snow</h2>
                <small>Web & App Desinger</small>
            </div>
        </div>

        <div class="masage">
            <textarea name="masage" placeholder="Enter your opinion here ..."></textarea>
            
        </div>

        <div class="last">
          
            <input type="reset" value="Reset">
            <input type="submit" value="Submit">
        </div>
       

    </form>    

</div>
